body {
	font-family: verdana, helvetica, arial, sanserif;
	}

.copyright {
	font-size: x-small; 
	font-weight: normal;
	margin-top:0.5em;
	clear:left;
	}

.error {
	color: red;
	font-style: oblique;
	padding-bottom: 3px;
	}

div.floatRight {
	margin-right:50px;
	}

div.floatRight button {
	float: right;
	}
.panel {
	border: 1px solid #220022;
	width: 400px;
	padding: 1em;
	margin: 1em;
	text-align: left;
	color: #113311;
	background-color: #eeffee; 
	}
.panel ul {
	margin-top: 0px;
	white-space: nowrap;
	}
p.clean {
	padding: 0;
	margin: 0;
	}
div.break {
	clear: both;
	}

div.left-side {
	height: 376px;
	vertical-align: top;
	margin-right: 1em;
	}

div.right-side {
    height: 376px;
	vertical-align: top;
	margin-top: 1em;
	}

div.metric-group {
	font-weight: 800;
	margin-left: 1em;
	margin-right: 0em;
	margin-bottom: 0.5em;
	color: white;
	border: 1px solid #336633;
	padding: 0em;
/**/
	text-align: left;
	white-space: nowrap;
/*
	border: 1px solid #220022;
	padding: 1em;
	margin: 1em;
	text-align: left;
	color: #113311;
	background-color: #eeffee; 
*/
	}

div.metric-group p.title {
/* */
	background-color: #338833;
	color: #112311;
/* */
	margin: 0em;
	padding: 3px;
	padding-left: 1em;
	font-weight: bold;
	font-size: 14pt;
	}

div.metric-group .select {
	padding: 0.5em;
	text-align: left;
	}

div.metric-group div.select input {
	padding-left: 0px;
	}

div.metric-group div.select span.cmp {
	font-size: smaller;
	font-family: sans-serif, verdana;
	/*fight IE bug, work arou
	height: 1em;
	width: 70%;
	white-space: nowrap;
	border-right: 0px;
	border-bottom: 0px;
	float:none;
	vertical-align: normal;
	text-align: left;
	*/
	}

div.metric-group option {
	padding-left: 0em;
	}

div.metric-group .help {
	display: none;
	}

div.metric-results, div.metric-edit {
	color: #113311;
	font-family: verdana, helvetica, sans-serif;
	font-weight: 800;
	border-top: 2px solid #338833;
	width: 22em;
	padding: 1em;
	margin: 1em;
	text-align: left;
	border-bottom: 2px solid #338833;
	}

div.metric-edit {
	/*border-top: 0px solid #338833;*/
}

#metricEdit {
	border: 1px solid #220022;
	padding-left: 5px;
	padding: 1em;
	margin-left: 5px;
	margin: 1em;
	text-align: left;
	color: #113311;
	background-color: #eeffee; 
}

#metricEdit p {
	margin-left: 5px;
}

#metricRange {
	margin-left:2em;
    font-size: smaller;
     margin-bottom:8px;
}
.metric-value {
	white-space: nowrap;
	}
.metric-value span {
	padding-left: 0.3em;
	padding-right: 0.3em;
	}

div.zone {
	border: 1px solid #220022; 
	padding: 0px;
	margin-left: 0em;
	margin-right: 1em;
	background-color: #eeffee; 
	}

div.zone td div {
	font-size: 10pt;
	font-family: verdana, helvetica, sans-serif;
	text-align: center;
	vertical-align: bottom;
	padding: 2px; 
	}

div.zone tr.header {
	background: #ffddcc;
	margin-left: 0.8em; 
	}

div.zone td div.name {
	white-space: nowrap;
	}

div.zone td div.name,
.headcoach,
.highschool {
	white-space: nowrap;
	text-align: left; 
	}

div#printView {
	font-size:small;
}

div.tightForm {
    clear:left;
	padding: 0em;
	padding-left: 1em;
	white-space:nowrap;
	font-size: x-small;
}

div button {
	margin: 0.4em;
}

div#printing {
	padding-top:1em;
}
