div.zone {
	width: 100%;
	}

div.print-zone {
	width:9.4in;
	}

div.players {
	padding: 0px;
	margin-top: 6px;
	}

div.players p {
	font-size: xx-small;
	margin: 0px;
	}

div.players p span.pid {
	border-left: 1px solid #115511;
	background-color: #BDB76B;
	width: 2%;
	}

div.players p span.year {
	width: 5%;
	}

div.players p span.name {
	width: 7%;
	text-align: left;
	white-space: nowrap;
	padding-left: 0.4em;
	padding-right: 0.4em;
	}

div.players p span.player {
	width: 10%;
	text-align: left;
	white-space: nowrap;
	padding-left: 0.4em;
	padding-right: 0.4em;
	}

div.players p span.time {
	width: 4%;
	}

div.players p span.power {
	width: 6%;
	}

div.players p span.expl {
	width: 4%;
	}

div.players p span.zip {
	width: 5%;
	}

div.players p span {
	background-color: white;
	width: 5%;
	border-right: 1px solid #114411;
	border-bottom: 1px solid #114411;
	float:left;
	vertical-align: bottom;
	text-align: center;
	padding-bottom: 4px;
	}

div.players p.header {
}
 
div.players p.header span {
	border-top: 1px solid #113311;
	line-height: 1em;
	background: #BDB76B;
	height: 2.5em;
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #220022;
	}

